.active{
    color: #FE980F!important;
}

.custom_widt{

 }

#autocompleteResultShow{
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 536px;
    right: 0;
}
