
#minimumPrice{
    height: 25px;
    margin-left: -27px;
    width: 56px;
}

#maximumPrice{
    height: 25px;
    width: 56px;
}
body div.ui-slider-range.ui-widget-header {
    background:orange;
}
.ui-slider-handle{
    border-radius: 10px;
}


