
#minimumPrice{
    height: 25px;
    margin-left: -27px;
    width: 56px;
}

#maximumPrice{
    height: 25px;
    width: 56px;
}
body div.ui-slider-range.ui-widget-header {
    background:orange;
    z-index: 0;
}
.ui-slider-handle{
    border-radius: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    z-index: 0;
}

